@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: '#0C1F2D';
  }
}

.rubik-text {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.rubik-title {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 2rem;
  font-style: normal;
}

.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E6C3AD;
}

.navbox{
  float: left;
}

.navelem{
  display: block;
  color: rgb(0, 20, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navelem-no-hover{
  display: block;
  font-weight: 800; 
  color: rgb(0, 20, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navelem:hover{
  background-color: #a68673;
}

body {
  height: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: "Rubik", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.profile-settings-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.back-link {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #0070f3;
  font-size: 16px;
}

.section {
  margin-bottom: 30px;
}

.section-title {
  color: #555;
  font-size: 20px;
  margin-bottom: 10px;
}

.file-input {
  display: block;
  margin: 10px 0;
  padding: 5px;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-top: 10px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

.checkbox-label {
  margin-bottom: 10px;
  font-size: 16px;
  color: #444;
}

.checkbox-input {
  margin-right: 10px;
}

.description-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}
